@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@font-face {
  font-family: Norse-Bold;
  src: url(Norse-Bold.otf);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.left {
  width: 30vw;
  background-image: url("./Gardenias.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.odin {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40%;
  background-color: rgba(0, 0, 0, 0.5);
}
.odin img {
  display: block;
  width: 125px;
}
.odin p {
  font-size: 100px;
  color: white;
  font-family: Norse-Bold;
}
.right {
  height: 33vw;
  width: 70vw;
}
.top {
  display: flex;
  font-family: Roboto, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  margin-left: 7%;
  margin-top: 12%;
  height: 33vh;
  width: 100vw;
}

.right-middle {
  height: 33vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 2px 10px gray;
}
.right-middle h2 {
  font-family: Roboto, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  margin-left: 7%;
}

.form {
  display: flex;
  justify-content: left;
  margin-left: 7%;
  gap: 100px;
}

.form label {
  font-weight: 400;
}
input {
  margin: 0 0 15px 0;
  font-size: 20px;
  border-radius: 5px;
  width: 300px;
  border: 2px solid #e5e7eb;
}

input:focus {
  border: 1px solid blue;
}

input:invalid {
  border: 1px solid red;
}
.form .right-bottom {
  height: 33vh;
}

.right-bottom button {
  font-size: 16px;
  padding: 12px;
  border-radius: 7px;
  margin-top: 27px;
  margin-left: 7%;
  background-color: #596d48;
  color: white;
}
.right-bottom p {
  margin-left: 7%;
  margin-top: 23x;
  font-weight: 600;
}
.right-bottom span {
  color: #596d48;
  font-weight: 700;
}
