@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.left {
  width: 30vw;
  background-image: url("./Gardenias.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.right {
  height: 33vw;
  width: 70vw;
}
.top {
  display: flex;
  font-family: Roboto, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  margin-left: 7%;
  margin-top: 12%;
  height: 33vh;
  width: 100vw;
}

.right-middle {
  height: 33vh;
}

.form {
  display: flex;
}
.right-bottom {
  height: 33vh;
}
